@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --title-font: 'Quicksand', sans-serif;
  --light-accent-color: #00E9AA;
  --dark-accent-color: #84FFC5;
  --accent-color: var(--dark-accent-color);

  --light-bg: white;
  --dark-bg: rgb(14, 14, 15);
  --bg: var(--light-bg);
  --cursor-color: black;
}

body {
  background: var(--bg);
}

li {
  cursor: pointer;
}

h1 {
  font-family: var(--title-font), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 800;
  line-height: 3rem;
}

p {
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

html{
  scroll-behavior: smooth;
}