/* .cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--cursor-color);
    border-radius: 50%;
    position: absolute;

    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    pointer-events: none;
    z-index: 200;
} */

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(230, 230, 230);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(132, 255, 198, 0.719);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(116, 224, 174, 0.719);
}

.nav-shadow {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.295);
}

nav {

    height: 80px;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--bg);
    animation: fade 200ms forwards ease;

    &>h1 {
        transition: opacity .2s ease;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
            margin-left: 20px;
            padding: 15px 20px;
            transition: background 200ms ease;

            &:hover {
                background: var(--accent-color);

                .cursor {
                    transform: scale(1.5);
                }
            }
        }
    }


}

header {
    @keyframes fade {
        0% {
            opacity: 0;

        }

        100% {
            opacity: 1;

        }
    }

    @keyframes fade-left {
        0% {
            opacity: 0;
            transform: translateX(-20px);
        }

        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .landing-content {
        display: flex;
        align-items: center;
        position: relative;
        height: fit-content;
        position: relative;

        img {
            width: 60%;
            margin-left: auto;
            animation: fadein-img 300ms forwards ease;
        }

        .landing-message {
            padding: 20px;
            padding-bottom: 100px;
            animation: fade-left 200ms forwards ease;

            h1 {
                font-size: 3rem;

            }

            p {
                line-height: 1.6rem;
            }
        }
    }

    @keyframes fadein-img {
        0% {
            opacity: 0;
            transform: translateX(40px);

        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}

.About {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 10px;

    .message {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    img {
        width: 50%;
    }

}

.philosophy {
    padding-left: 20px;
    padding-top: 20px;

    &>h1 {
        font-size: 3rem;
    }

    img {
        width: 50%;
        margin-bottom: auto;
    }

    .messages {
        margin-top: 10px;
    }

    &>div {
        display: flex;

    }

    .message {
        padding-right: 20px;
        padding-bottom: 20px;
    }
}

footer {
    margin-top: 10px;
    padding: 20px;
    background: var(--accent-color);
}

a {
    color: black;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-bottom: 0;
        padding-top: 10px;

        ul {
            flex-wrap: wrap;
            justify-content: left;

            li {
                margin: 0;
                margin-right: 10px;
                padding-left: 0;
                padding-top: 0;

                &:hover {
                    background: transparent;
                    color: var(--accent-color);
                    filter: brightness(.6);
                }
            }
        }

    }

    .landing-content {
        flex-direction: column;

        &>img {
            width: 100% !important;
        }

        .landing-message {
            padding: 20px;
            padding-bottom: 20px !important;
        }
    }

    .About {
        display: block;
        position: relative;

        img {
            width: 100% !important;
            top: 0;
            left: 0;
            z-index: -10;

        }
    }

    .philosophy {
        &>div {
            display: block;

            img {
                width: 100%;
            }
        }
    }
}