/* .cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--cursor-color);
    border-radius: 50%;
    position: absolute;

    transform: translate(-50%, -50%);
    transform-origin: 100% 100%;
    pointer-events: none;
    z-index: 200;
} */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e6e6e6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(132, 255, 198, 0.719);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(116, 224, 174, 0.719);
}

.nav-shadow {
  -webkit-box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.295);
          box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.295);
}

nav {
  height: 80px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg);
  -webkit-animation: fade 200ms forwards ease;
          animation: fade 200ms forwards ease;
}

nav > h1 {
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav ul li {
  margin-left: 20px;
  padding: 15px 20px;
  -webkit-transition: background 200ms ease;
  transition: background 200ms ease;
}

nav ul li:hover {
  background: var(--accent-color);
}

nav ul li:hover .cursor {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}

header .landing-content img {
  width: 60%;
  margin-left: auto;
  -webkit-animation: fadein-img 300ms forwards ease;
          animation: fadein-img 300ms forwards ease;
}

header .landing-content .landing-message {
  padding: 20px;
  padding-bottom: 100px;
  -webkit-animation: fade-left 200ms forwards ease;
          animation: fade-left 200ms forwards ease;
}

header .landing-content .landing-message h1 {
  font-size: 3rem;
}

header .landing-content .landing-message p {
  line-height: 1.6rem;
}

@-webkit-keyframes fadein-img {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fadein-img {
  0% {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.About {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-top: 10px;
}

.About .message {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
}

.About img {
  width: 50%;
}

.philosophy {
  padding-left: 20px;
  padding-top: 20px;
}

.philosophy > h1 {
  font-size: 3rem;
}

.philosophy img {
  width: 50%;
  margin-bottom: auto;
}

.philosophy .messages {
  margin-top: 10px;
}

.philosophy > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.philosophy .message {
  padding-right: 20px;
  padding-bottom: 20px;
}

footer {
  margin-top: 10px;
  padding: 20px;
  background: var(--accent-color);
}

a {
  color: black;
}

@media (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: auto;
    padding-bottom: 0;
    padding-top: 10px;
  }
  nav ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  nav ul li {
    margin: 0;
    margin-right: 10px;
    padding-left: 0;
    padding-top: 0;
  }
  nav ul li:hover {
    background: transparent;
    color: var(--accent-color);
    -webkit-filter: brightness(0.6);
            filter: brightness(0.6);
  }
  .landing-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-content > img {
    width: 100% !important;
  }
  .landing-content .landing-message {
    padding: 20px;
    padding-bottom: 20px !important;
  }
  .About {
    display: block;
    position: relative;
  }
  .About img {
    width: 100% !important;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .philosophy > div {
    display: block;
  }
  .philosophy > div img {
    width: 100%;
  }
}
/*# sourceMappingURL=App.css.map */